body {
  background-image: url(https://images.pexels.com/photos/240526/pexels-photo-240526.jpeg?cs=srgb&dl=beach-coconut-trees-coconuts-240526.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 575px;
  width: 1150px;
  overflow: hidden;
  border-radius: 50%;
 
}

.name {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1,h2,p {
  text-align: center;
}



.songs {
  list-style-type: none;
  text-align: center;
}


