body {
  margin: 0;
  background-image: url(beach-calm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}
/* navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}
.navbar_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar_link {
  float: left;
}
.navbar_hyper {
  display: flex;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to blueviolet on hover */
.navbar_hyper:hover {
  background-color: blueviolet;
}
